<!Doctype HTML>
<html>
<head>
	<!-- Javascript -->
	<script src="/js/jquery-2.0.3.js"></script>
	<script src="/js/main.js"></script>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>NBA FanApp</title>
</head>
<body>
	<header>
		<nav></nav>
	</header>
	<div class="side-nav">
<!-- 		<div id="divisions">
			<h1>Divisions</h1>
			<br>
			<ul class="division-select">
				<li class="division-btn">Atlantic</li>
				<li class="division-btn">Central</li>
				<li class="division-btn">Northwest</li>
				<li class="division-btn">Pacific</li>
				<li class="division-btn">Southeast</li>
				<li class="division-btn">Southwest</li>
			</ul>
		</div> -->
		<ul>
			<li><a href="#">Atlanta Hawks</a></li>
			<li><a href="#">Boston Celtics</a></li>
			<li><a href="#">Charlotte Bobcats</a></li>
			<li><a href="#">Chicago Bulls</a></li>
			<li><a href="#">Cleveland Cavaliers</a></li>
			<li><a href="#">Dallas Mavericks</a></li>
			<li><a href="#">Denver Nuggets</a></li>
			<li><a href="#">Detroit Pistons</a></li>
			<li><a href="#">Golden State Warriors</a></li>
			<li><a href="#">Houston Rockets</a></li>
			<li><a href="#">Indiana Pacers</a></li>
			<li><a href="#">Los Angeles Clippers</a></li>
			<li><a href="#">Los Angeles Lakers</a></li>
			<li><a href="#">Memphis Grizzlies</a></li>
			<li><a href="#">Miami Heat</a></li>
			<li><a href="#">Milwaukee Bucks</a></li>
			<li><a href="#">Minnesota Timberwolves</a></li>
			<li><a href="#">New Jersey Nets</a></li>
			<li><a href="#">New Orleans Hornets</a></li>
			<li><a href="#">New York Knicks</a></li>
			<li><a href="#">Oklahoma City Thunder</a></li>
			<li><a href="#">Orlando Magic</a></li>
			<li><a href="#">Philadelphia 76ers</a></li>
			<li><a href="#">Phoenix Suns</a></li>
			<li><a href="#">Portland Trail Blazers</a></li>
			<li><a href="#">Sacramento Kings</a></li>
			<li><a href="#">San Antonio Spurs</a></li>
			<li><a href="#">Toronto Raptors</a></li>
			<li><a href="#">Utah Jazz</a></li>
			<li><a href="#">Washington Wizards</a></li>
		</ul>
	</div>
	<div id="content-wrapper">
		<div class="main-content">
			<h1>NBA League News</h1><br>
			<div id="headlines"></div>
		</div>
	</div>
	<footer></footer>
</body>
</html>