<!Doctype HTML>
<html>
<head>
	<!-- Javascript -->
	<script src="/js/jquery-2.0.3.js"></script>
	<script src="/js/main.js"></script>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>NBA FanApp</title>
</head>
<body>
	<div class="side-nav">
<!-- 		<div id="divisions">
			<h1>Divisions</h1>
			<br>
			<ul class="division-select">
				<li class="division-btn">Atlantic</li>
				<li class="division-btn">Central</li>
				<li class="division-btn">Northwest</li>
				<li class="division-btn">Pacific</li>
				<li class="division-btn">Southeast</li>
				<li class="division-btn">Southwest</li>
			</ul>
		</div> -->
		<ul>
			<li><a id="Hawks" href="#" onclick="getTeamNews(1)">Atlanta Hawks</a></li>
			<li><a id="Celteics" href="#" onclick="getTeamNews(2)">Boston Celtics</a></li>
			<li><a id="Bobcats" href="#" onclick="getTeamNews(30)">Charlotte Bobcats</a></li>
			<li><a id="Bulls" href="#" onclick="getTeamNews(4)">Chicago Bulls</a></li>
			<li><a id="Cavs" href="#" onclick="getTeamNews(5)">Cleveland Cavaliers</a></li>
			<li><a id="Mavericks" href="#" onclick="getTeamNews(6)">Dallas Mavericks</a></li>
			<li><a id="Nuggets" href="#" onclick="getTeamNews(7)">Denver Nuggets</a></li>
			<li><a id="Pistons" href="#" onclick="getTeamNews(8)">Detroit Pistons</a></li>
			<li><a id="Warriors" href="#" onclick="getTeamNews(9)">Golden State Warriors</a></li>
			<li><a id="Rockets" href="#" onclick="getTeamNews(10)">Houston Rockets</a></li>
			<li><a id="Pacers" href="#" onclick="getTeamNews(11)">Indiana Pacers</a></li>
			<li><a id="Clippers" href="#" onclick="getTeamNews(12)">Los Angeles Clippers</a></li>
			<li><a id="Lakers" href="#" onclick="getTeamNews(13)">Los Angeles Lakers</a></li>
			<li><a id="Grizzlies" href="#" onclick="getTeamNews(29)">Memphis Grizzlies</a></li>
			<li><a id="Heat" href="#" onclick="getTeamNews(14)">Miami Heat</a></li>
			<li><a id="Bucks" href="#" onclick="getTeamNews(15)">Milwaukee Bucks</a></li>
			<li><a id="Timberwolves" href="#" onclick="getTeamNews(16)">Minnesota Timberwolves</a></li>
			<li><a id="Nets" href="#" onclick="getTeamNews(17)">New Jersey Nets</a></li>
			<li><a id="Pelicans" href="#" onclick="getTeamNews(3)">New Orleans Pelicans</a></li>
			<li><a id="Knicks" href="#" onclick="getTeamNews(18)">New York Knicks</a></li>
			<li><a id="Thunder" href="#" onclick="getTeamNews(25)">Oklahoma City Thunder</a></li>
			<li><a id="Magic" href="#" onclick="getTeamNews(19)">Orlando Magic</a></li>
			<li><a id="76ers" href="#" onclick="getTeamNews(20)">Philadelphia 76ers</a></li>
			<li><a id="Suns" href="#" onclick="getTeamNews(21)">Phoenix Suns</a></li>
			<li><a id="Blazers" href="#" onclick="getTeamNews(22)">Portland Trail Blazers</a></li>
			<li><a id="Kings" href="#" onclick="getTeamNews(23)">Sacramento Kings</a></li>
			<li><a id="Spurs" href="#" onclick="getTeamNews(24)">San Antonio Spurs</a></li>
			<li><a id="Raptors" href="#" onclick="getTeamNews(28)">Toronto Raptors</a></li>
			<li><a id="Jazz" href="#" onclick="getTeamNews(26)">Utah Jazz</a></li>
			<li><a id="Wizards" href="#" onclick="getTeamNews(27)">Washington Wizards</a></li>
		</ul>
	</div>
	<div id="content-wrapper">
		<div class="main-content">
			<header>
				<h1>The Unofficial</h1>
				<img src="/assets/logo.png">
				<h1>Fan App</h1>
			</header>

			<h1>League News</h1><br>
			<div id="headlines"></div>
		</div>
	</div>
	<footer></footer>
</body>
</html>