<!DOCTYPE html>
<html>
<head>
	<!-- Javascript -->
	<script src="/js/jquery-2.0.3.js"></script>
	<script src="/js/headlines.js"></script>
	<script src="/js/cookie.js"></script>
	<script src="/js/main.js"></script>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>NBA FanApp</title>
</head>
<body>
	<div id="selector">
		<h5>Team Selector</h5>
	</div>
	<div class="side-nav">
		<div id="navigation">
			<h3>Navigate to...</h3>
			<ul>
				<li><a onclick="getLeagueNews()">League News &raquo;</a></li>
				<li><a href="/fanmap">Fan Map &raquo;</a></li>
			</ul>
		</div>

		<div id="divisions">
			<h1>Divisions</h1>
			<br>
			<ul class="division-select">
				<li class="division-btn" id="atlantic">Atlantic</li>
				<li class="division-btn" id="central">Central</li>
				<li class="division-btn" id="northwest">Northwest</li>
				<li class="division-btn" id="pacific">Pacific</li>
				<li class="division-btn" id="southeast">Southeast</li>
				<li class="division-btn" id="southwest">Southwest</li>
			</ul>
		</div>

		<div id="teams">
			<div id="atlantic-div" class="groupings">
				<h1>Atlantic Division</h1>
				<ul>
					<li><a id="Celteics" href="#" onclick="getTeamNews(2)">Boston Celtics</a></li>
					<li><a id="76ers" href="#" onclick="getTeamNews(20)">Philadelphia 76ers</a></li>
					<li><a id="Raptors" href="#" onclick="getTeamNews(28)">Toronto Raptors</a></li>
					<li><a id="Knicks" href="#" onclick="getTeamNews(18)">New York Knicks</a></li>
					<li><a id="Nets" href="#" onclick="getTeamNews(17)">New Jersey Nets</a></li>
				</ul>
				<a class="back">&laquo; Go Back</a>
			</div>
			<div id="central-div" class="groupings">
				<h1>Central Division</h1>
				<ul>
					<li><a id="Pacers" href="#" onclick="getTeamNews(11)">Indiana Pacers</a></li>
					<li><a id="Bulls" href="#" onclick="getTeamNews(4)">Chicago Bulls</a></li>
					<li><a id="Pistons" href="#" onclick="getTeamNews(8)">Detroit Pistons</a></li>
					<li><a id="Cavs" href="#" onclick="getTeamNews(5)">Cleveland Cavaliers</a></li>
					<li><a id="Bucks" href="#" onclick="getTeamNews(15)">Milwaukee Bucks</a></li>
				</ul>
				<a class="back">&laquo; Go Back</a>
			</div>
			<div id="southeast-div" class="groupings">
				<h1>Southeast Division</h1>
				<ul>
					<li><a id="Heat" href="#" onclick="getTeamNews(14)">Miami Heat</a></li>
					<li><a id="Hawks" href="#" onclick="getTeamNews(1)">Atlanta Hawks</a></li>
					<li><a id="Bobcats" href="#" onclick="getTeamNews(30)">Charlotte Bobcats</a></li>
					<li><a id="Wizards" href="#" onclick="getTeamNews(27)">Washington Wizards</a></li>
					<li><a id="Magic" href="#" onclick="getTeamNews(19)">Orlando Magic</a></li>
				</ul>
				<a class="back">&laquo; Go Back</a>
			</div>
			<div id="northwest-div" class="groupings">
				<h1>Northwest Division</h1>
				<ul>
					<li><a id="Blazers" href="#" onclick="getTeamNews(22)">Portland Trail Blazers</a></li>
					<li><a id="Thunder" href="#" onclick="getTeamNews(25)">Oklahoma City Thunder</a></li>
					<li><a id="Nuggets" href="#" onclick="getTeamNews(7)">Denver Nuggets</a></li>
					<li><a id="Timberwolves" href="#" onclick="getTeamNews(16)">Minnesota Timberwolves</a></li>
					<li><a id="Jazz" href="#" onclick="getTeamNews(26)">Utah Jazz</a></li>
				</ul>
				<a class="back">&laquo; Go Back</a>
			</div>
			<div id="pacific-div" class="groupings">
				<h1>Pacific Division</h1>
				<ul>
					<li><a id="Clippers" href="#" onclick="getTeamNews(12)">Los Angeles Clippers</a></li>
					<li><a id="Suns" href="#" onclick="getTeamNews(21)">Phoenix Suns</a></li>
					<li><a id="Lakers" href="#" onclick="getTeamNews(13)">Los Angeles Lakers</a></li>
					<li><a id="Warriors" href="#" onclick="getTeamNews(9)">Golden State Warriors</a></li>
					<li><a id="Kings" href="#" onclick="getTeamNews(23)">Sacramento Kings</a></li>
				</ul>
				<a class="back">&laquo; Go Back</a>
			</div>
			<div id="southwest-div" class="groupings">
				<h1>Southwest Division</h1>
				<ul>
					<li><a id="Spurs" href="#" onclick="getTeamNews(24)">San Antonio Spurs</a></li>
					<li><a id="Rockets" href="#" onclick="getTeamNews(10)">Houston Rockets</a></li>
					<li><a id="Mavericks" href="#" onclick="getTeamNews(6)">Dallas Mavericks</a></li>
					<li><a id="Grizzlies" href="#" onclick="getTeamNews(29)">Memphis Grizzlies</a></li>
					<li><a id="Pelicans" href="#" onclick="getTeamNews(3)">New Orleans Pelicans</a></li>
				</ul>
				<a class="back">&laquo; Go Back</a>
			</div>
		</div>
	</div>

	<div id="content-wrapper">
		<div class="main-content">
			<header>
				<a href="http://espn.go.com/nba/" target="_blank"><img id="espn" src="http://a.espncdn.com/i/apis/attribution/espn-grey_50.png"></a>
				<h1>The Unofficial</h1>
				<img id="logo" src="/assets/logo.png">
				<h1>Fan App</h1>
			</header>
			<!-- popup -->
			<div id="cookie-popup" style="position: relative;">
			  <div id="popup-dialog-cookie" class="popup-dialog">
			    <div class="popcls"><a onclick="closepop();return false;" href="#">close</a></div>
			      <p>Please select your favorite team</p>
			      <form>
			      <select id="favteam-select">
			      	<option>Atlanta Hawks</option>
			      	<option>Boston Celtics</option>
			      	<option>Brooklyn Nets</option>
			      	<option>Charlotte Bobcats</option>
			      	<option>Chicago Bulls</option>
			      	<option>Cleveland Cavaliers</option>
			      	<option>Dallas Mavericks</option>
			      	<option>Denver Nuggets</option>
			      	<option>Detroit Pistons</option>
			      	<option>Golden State Warriors</option>
			      	<option>Houston Rockets</option>
			      	<option>Indiana Pacers</option>
			      	<option>Los Angeles Clippers</option>
			      	<option>Los Angeles Lakers</option>
			      	<option>Memphis Grizzlies</option>
			      	<option>Miami Heat</option>
			      	<option>Milwaukee Bucks</option>
			      	<option>Minnesota Timberwolves</option>
			      	<option>New Orleans Pelicans</option>
			      	<option>New York Knicks</option>
			      	<option>Oklahoma City Thunder</option>
			      	<option>Orlando Magic</option>
			      	<option>Philadelphia 76ers</option>
			      	<option>Phoenix Suns</option>
			      	<option>Portland Trail Blazers</option>
			      	<option>Sacramento Kings</option>
			      	<option>San Antonio Spurs</option>
			      	<option>Toronto Raptors</option>
			      	<option>Utah Jazz</option>
			      	<option>Washington Wizards</option>
			      </select>
			      <input id="submit-favteam" type="submit" value="Submit" onclick="submitCookieInfo()">
			  </form>
			  </div>
			</div>
			<h1 id="title">League News</h1><br>
			<div id="headlines"></div>
		</div>
	</div>
	<footer></footer>
</body>
</html>