<!Doctype HTML>
<html>
<head>
	<!-- Javascript -->
	<script src="/js/jquery-2.0.3.js"></script>
	<script src="/js/main.js"></script>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>NBA FanAPpp</title>
</head>
<body>
	<h1>hello</h1>

</body>
</html>