@import url(http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700);

/**************************/
/*    HTML Elements & Template Layouts    */
/**************************/

* {
	padding:0;
	margin:0;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	color: black;
	overflow: hidden;
	height:100%;
}


/**************************/
/*    Remove Side Nav    */
/**************************/

#side-nav, #selector {
	display:none;	
}

/**************************/
/*    Small Nav   */
/**************************/

#small-nav {
	padding-top: 30px;
	float:left;
}

#small-nav ul > li{
    display: inline-block;   /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline; /* this fix is needed for IE7- */
    padding-left:50px;
}

#small-nav ul > li> a {
	font-size:28px;
	color:black;
}

#small-nav a:hover{
	color:#ed174b;
	cursor:pointer;
}
#dropnav:hover {
	background-color:#999999;
}

.dropdown {
	display:none;
	padding:6px;
	background-color: #999999;
	overflow:hidden;
	width:770px;
	position:absolute;
	z-index: 1000;
	left: 200px;
	padding-top: 15px;
	margin-top: 40px;
	box-shadow: 2px 2px 2px #999;
}

.dropdown li {
	display: block !important;
	border: none !important;
	height: 24px !important;
	line-height:24px;
	width:205px;
	font-size:18px !important;
}
.dropdown li a {
	font-size:18px !important;
	text-align:left !important;
	color:#fff;
}

.navhead {
	color: #006bb7;
}

.navhead:hover {
	cursor:pointer !important;
}

.navbox {
	float:left;
	padding-bottom:20px;
}

/**************************/
/*    Main Content    */
/**************************/

.main-content {
	margin-left:0px;
	padding-left:200px;
}

#headlines img {
	max-width:300px;
	max-height:200px;
}

.headline-box {
	width:600px;
}



