@import url(http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700);

/**************************/
/*    HTML Elements & Template Layouts    */
/**************************/

* {
	padding:0;
	margin:0;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	color: black;
	overflow: hidden;
}

li {
	font-weight:300;
	list-style-type: none;
}

a {
	text-decoration: none;
	color:white;
	font-size:12px;
}

/**************************/
/*   Headlines Page    */
/**************************/
.side-nav {
	background-color: #999999;
	float: left;
	left: 300px;
	margin-left: -300px;
	position: relative;
	width: 300px;
	overflow-y: auto;
}

.side-nav h1 {
	color:white;
}

.side-nav li {
	color:white;
  	float:left;
  	display:inline;
  	line-height:1.5em;
  	width:50%;
}

#divisions {
	padding-left:30px;
}

.division-btn {

}

.main-content {
	margin-left: 300px;
	padding-left:100px;
	overflow-y: auto;
}

#content-wrapper{
	float: left;
	width: 100%;
}

#headlines {
	padding-bottom: 100px;
}



